--extra-index-url https://download.pytorch.org/whl/cpu
blinker==1.9.0
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
numpy==1.26.4
pillow==11.0.0
python-dotenv==1.0.1
rdkit==2024.3.6
waitress==3.0.1
Werkzeug==3.1.3
celery==5.4.0
redis==5.2.1
pandas==2.2.3
openpyxl==3.1.5
PepLink==0.1.0
reportlab==4.4.10
scikit-learn
admet-ai
chemprop
torch
torchvision
torchaudio
